.scheme_container {
    display: flex;
    gap: 2em;
    padding: 1em 3em;
    flex-wrap: wrap;
    justify-content: space-between;

    & div {
        width: clamp(250px, 30%, 400px);
        padding: 1em 2em;
        border-radius: 10px 0;
        display: grid;
        grid-template-columns: .7fr 1.3fr;
        place-items: center;
        gap: 1em;
        box-shadow: 0px 0px 5px var(--menu_color);

        & img {
            box-shadow: inset 0px 0px 5px var(--menu_color);
            outline: 1px solid rgb(255, 155, 105);
            padding: .3em;
            border-radius: 5px;
            object-fit: contain;
            width: 70%;
        }

        & h3 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & p {
            grid-column-start: 1;
            grid-column-end: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & a {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        & button {
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: 600;
            padding: .5em 1em;
            box-shadow: 0px 0px 5px var(--menu_color);
            background: var(--background_gradient);
        }
    }
}