.template_container {
    display: flex;
    gap: 2em;
    padding: 1em 3em 3em;
    flex-wrap: wrap;
    justify-content: space-between;

    & div {
        width: clamp(250px, 30%, 400px);
        padding: 1em 2em;
        border-radius: 10px 0;
        display: grid;
        place-items: center;
        gap: 1em;
        box-shadow: 0px 0px 5px var(--menu_color);

        & h3 {
            display: -webkit-box;
            text-align: center;
            text-wrap: balance;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-bottom: 1em;
            border-bottom: 1px solid var(--menu_color);
        }

        & p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            line-clamp: 5;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & button {
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: 600;
            padding: .5em 1em;
            box-shadow: 0px 0px 5px var(--menu_color);
            background: var(--background_gradient);
        }
    }
}